{% extends "layout.html.j2" %}
{% block content %}
	{% include "basic_header.html.j2" %}
	<div class="col-12 text-secondary mt-2">
		Found <strong>bugs/errors</strong> in the database? Got some ideas on how to improve BiG-FAM?
		Please send us your feedback via <a href='mailto:satria.kautsar@wur.nl,marnix.medema@wur.nl?subject=[BiG-FAM feedback]'>e-mail</a>
		(please put <strong>[BiG-FAM feedback]</strong> on the subject).
	</div>
{% endblock %}