{% extends "layout.html.j2" %}
{% block content %}
	{% include "basic_header.html.j2" %}
	<!-- for javascript -->
	<input type="hidden" id="run_id" value="{{ run_id }}"/>
	<!-- Browse -->
	{% include "run/browse.html.j2" %}
{% endblock %}