<div class="row mt-2 mb-4 d-none">
	<div class="col">
		<h3 name="bgc">Gene Cluster Families (GCFs)</h3>
		<!-- first row -->
		<div class="row mt-4">
			<!-- gcf bgc counts histogram -->
			<div class="col-6" style="min-width: 480px;">
				<div id="hist_gcf_bgc" class="text-center">
					<div class="spinner-border text-info" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>
			</div>
			<!-- gcf feature counts histogram -->
			<div class="col-6" style="min-width: 480px;">
				<div id="hist_gcf_features" class="text-center">
					<div class="spinner-border text-info" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>