<div class="row mt-2 mb-4">
	<div class="col">
		<div class="row mt-4 list-group list-group-horizontal">
			<div class="col-1"></div>
			<div class="col-5 list-group-item d-flex justify-content-between align-items-center">
				Total BGCs:
				<a id="bgc_overview_orig_file" href="javascript:void();" class="badge badge-secondary badge-pill">{{ bgc_total }}</a>
			</div>
			<div class="col-5 list-group-item d-flex justify-content-between align-items-center">
				Total GCFs:
				<a id="bgc_overview_orig_file" href="javascript:void();" class="badge badge-secondary badge-pill">{{ gcf_total }}</a>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</div>