<div class="row mt-2 mb-4">
	<div class="col text-center">
		This page will auto-refresh every 5 seconds...
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(function (){
			location.reload();
		}, 5000);
	});
</script>