{% extends "layout.html.j2" %}
{% block content %}
	{% include "basic_header.html.j2" %}
	<div class="col-12 text-secondary mt-2">
		This database was initially developed and is currently
		maintained by Satria Kautsar (twitter:<a href='https://twitter.com/satriaphd'>@satriaphd</a>)
		as part of a fully funded PhD project granted to Dr. Marnix Medema
		(website: <a href='http://marnixmedema.nl'>marnixmedema.nl</a>, twitter: <a href='https://twitter.com/marnixmedema'>@marnixmedema</a>)
		by the <a href='https://www.graduateschool-eps.info/'>Graduate School of Experimental Plant Sciences</a>.<br />
		Contributions and feedback are very welcomed.<br />
        Feel free to <a href='mailto:satria.kautsar@wur.nl,
        marnix.medema@wur.nl?subject=[BiG-SLiCE help]'>drop us an e-mail</a> if you have any question regarding or related to the BiG-FAM database.
    </div>
	<div class="row mt-2 mb-4">
		<div class="col">
			<h3 name="about_cite">
				Cite us
			</h3>
			<div class="col-12 text-secondary">
				t.b.d.
			</div>
		</div>
	</div>
{% endblock %}