{% extends "layout.html.j2" %}
{% block content %}
	{% include "basic_header.html.j2" %}
	<div class="col-12 text-secondary mt-2">
		<p>
			The Biosynthetic Gene Cluster Family (GCF) database is an online repository for "homologous" group of BGCs sharing similar biosynthetic make-ups.
			With the large-scale, global collection of BGCs identified from currently available genomes and MAGs as a source,
			these GCFs can be used to chart an <strong>explorable "atlas" of microbial secondary metabolic diversity</strong>.
			BiG-FAM facilitates the <strong>query of putative BGCs</strong>, rapidly find their respective position in the map
			and gain a better understanding on their novelty or (probable) functions.
		</p>
	</div>
	<div class="col-12 text-secondary mt-2">
		<p>
			This database version (v{{ g["version"] }}) contain homology analysis result of <strong>{{ bgc_total }} BGCs</strong> taken from multiple publicly available sources (<a href="/stats#input_data">details</a>).
			The large-scale analysis was performed using <a href="https://github.com/medema-group/bigslice">BiG-SLiCE software (v1.0.0)</a> with an arbitrary clustering threshold (<strong>T={{ threshold }}</strong>),
			which resulted in the construction of <strong>{{ gcf_total }} GCF models</strong>, each represents distinct protein domain & sequence features shared by the BGCs.
		</p>
	</div>
	<div class="col-12 text-secondary mt-2">
		<p>
			<strong>
				Please read these
				<a href="javascript:void();" class="" data-trigger="hover" data-html="true" data-toggle="popover"
				data-content="
				It is to be noted that the GCFs should not be taken as a hard representative of a specific 'compound family'.<br/>
				Due to the complex nature of secondary metabolic pathways (i.e. the same compound can be produced by<br/>
				multiple different BGCs, and vice versa), it is simply impossible to set a single clustering threshold to 'catch<br/>
				them all'. Therefore, this database should be treated as an <strong>exploratory</strong> rather than a prediction (classification)<br/>
				tool."
				title="Important note for BiG-FAM users">
					important caveats
				</a>
				before working with the data!
			</strong>
		</p>
	</div>
	<div class="col-12">
		<div class="row">
			<div class="col-6 text-right">
				<img src="{{ url_for('static', filename='img/phylo_tree_bigfam.png') }}" class="img-fluid w-75">
			</div>
			<div class="col-6 text-left">
				<a href="/run/{{ last_run_id }}">
					<div class="btn btn-secondary w-50 ml-4 mt-4 pt-4 pb-4">
						<h1><strong>Explore</strong></h1>
						<span>the GCFs and their member BGCs</span>
					</div>
				</a>
				<a href="/query">
					<div class="btn btn-secondary w-50 ml-4 mt-4 pt-4 pb-4">
						<h1><strong>Query</strong></h1>
						<span>a finished antiSMASH job</span>
					</div>
				</a>
				<a href="/stats">
					<div class="btn btn-secondary w-50 ml-4 mt-4 pt-4 pb-4">
						<h1><strong>Statistics</strong></h1>
						<span>of the database</span>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endblock %}