{% extends "layout.html.j2" %}
{% block content %}
	{% include "basic_header.html.j2" %}
	<div class="col-12 text-secondary mt-2">
		<p>
			The Biosynthetic Gene Cluster Family (GCF) database is an online repository for "homologous" groups of biosynthetic gene clusters (BGCs) putatively encoding the production of similar specialized metabolites. By taking large-scale, global collections of BGCs identified from currently available genomes and MAGs as a data source, BiG-FAM provides an <strong>explorable "atlas" of microbial secondary metabolic diversity</strong> to browse and search biosynthetic diversity across taxa.
			BiG-FAM facilitates <strong>querying putative BGCs</strong> to rapidly find their position on the diversity map and gain a better understanding of their novelty or (probable) functions, based on relationships with other known and predicted BGCs from publicly available data.
		</p>
	</div>
	<div class="col-12 text-secondary mt-2">
		<p>
			This database version ({{ g["version"] }}) is based on a GCF clustering of <strong>{{ bgc_total }} BGCs</strong> taken from multiple publicly available sources (<a href="{{ url_for('root.page') }}stats#input_data">details</a>).
			This large-scale analysis was performed using the <a href="https://github.com/medema-group/bigslice">BiG-SLiCE software (1.0.0)</a> with an arbitrary clustering threshold (<strong>T={{ threshold }}</strong>),
			which resulted in the construction of <strong>{{ gcf_total }} GCF models</strong>, each representing distinct protein domain and sequence features shared by the BGCs.
		</p>
	</div>
	<div class="col-12 text-secondary mt-2">
		<p>
			<strong>
				Please read these
				<a href="javascript:void();" class="" data-trigger="click" data-html="true" data-toggle="popover"
				data-content="
				It should be noted that the GCFs should not be taken as an absolute representation<br />
				of specific 'compound families'. Due to the complex nature of secondary metabolic<br />
				pathways (e.g., the same compound can be produced by multiple different BGCs, and<br />
				vice versa), it is impossible to set a single clustering threshold that groups<br />
				diverse types of BGCs in groups that reflect their chemical similarity in exactly<br />
				the same way (if this can be measured at all). Therefore, <strong>this database should be<br />
				treated as an exploratory rather than a prediction (classification) tool.</strong>"
				title="Important note for BiG-FAM users">
					important caveats
				</a>
				before working with the data!
			</strong>
		</p>
	</div>
	<div class="col-12">
		<div class="row">
			<div class="col-6 text-right">
				<img src="{{ url_for('static', filename='img/phylo_tree_bigfam.png') }}" class="img-fluid w-75">
			</div>
			<div class="col-6 text-left">
				<a href="{{ url_for('root.page') }}run/{{ last_run_id }}">
					<div class="btn btn-secondary w-50 ml-4 mt-4 pt-4 pb-4">
						<h1><strong>Explore</strong></h1>
						<span>the GCFs and their member BGCs</span>
					</div>
				</a>
				<a href="{{ url_for('root.page') }}query">
					<div class="btn btn-secondary w-50 ml-4 mt-4 pt-4 pb-4">
						<h1><strong>Query</strong></h1>
						<span>a finished antiSMASH job</span>
					</div>
				</a>
				<a href="{{ url_for('root.page') }}stats">
					<div class="btn btn-secondary w-50 ml-4 mt-4 pt-4 pb-4">
						<h1><strong>Statistics</strong></h1>
						<span>of the database</span>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endblock %}